<h2>Receitas Disponíveis</h2>
<table border="1px">
    <tr>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Link Externo</td>
        <td>Categoria</td>
        <td>Responsáveis</td>
    </tr>
    {{#each receitas}}
    <tr>
        <td>{{nome}}</td>
        <td>{{descricao}}</td>
        <td><a href="{{link_externo}}" target="_blank">{{link_externo}}</a></td>
        <td>
            {{#each categoria}}
                {{nome}}<br>
            {{/each}}
        </td>
        <td>
            {{#each usuarios}}
                {{nome}}<br>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>
<br>
<a href="/public/categorias"><button>Ver Categorias</button></a> | 
<a href="/public/relatorio-habilidades"><button>Relatório de Habilidades</button></a> | 
<a href="/login"><button>Login</button></a>