<form action="/receitaUpdate" method="post">
    <input type="hidden" name="id" value={{receita.id}}>
    Nome: <input type="text" name="nome" value="{{receita.nome}}">
    <br><br>
    Descrição: <textarea name="descricao">{{receita.descricao}}</textarea>
    <br><br>
    Link Externo: <input type="url" name="link_externo" value="{{receita.link_externo}}">
    <br><br>
    Categorias:
    <select name="categorias" multiple>
        {{#each categorias}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    <br><br>
    Responsáveis:
    <select name="usuarios" multiple>
        {{#each usuarios}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
     <br> <br>
    <input type="submit" value="Editar">
</form>