<table border="1px">
    <tr>
        <td>Nome</td>
        <td>Preparo</td>
        <td>Ingredientes</td>
        <td>Categoria</td>
        <td>Responsáveis</td>
        <td>Editar</td>
        <td>Deletar</td>
    </tr>
    {{#each receitas}}
    <tr>
        <td>{{nome}}</td>
        <td>{{preparo}}</td>
        <td>{{ingredientes}}</td>
        <td>
            {{#each categoria}}
                {{nome}}<br>
            {{/each}}
        </td>
        <td>
            {{#each usuarios}}
                {{nome}}<br>
            {{/each}}
        </td>
        <td><a href="receitaUpdate/{{id}}">Editar</a></td>
        <td><a href="receitaDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>